@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4d4d4d;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #52ab98;
  border-radius: 5px;
}

::-webkit-file-upload-button {
  height: 100%;
  width: 20%;
  border: none;
  background: #2b6777;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  ::-webkit-file-upload-button {
    width: 40%;
  }
}

::-webkit-file-upload-button:hover {
  filter: brightness(0.95);
}
